* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 960px;
  padding-left: 0;
  padding-right: 0;
}

body {
  font-size: 14px;
  color: rgb(28, 28, 28);
  background-color: #F9FAFB;
  font-family: Inter, sans-serif;
}

.title {
  font-size: 32px;
  font-weight: 500;
  padding-bottom: 20px;
  margin: 50px 0 0;
  text-align: center;
}

.descr {
  text-align: center;
  padding-bottom: 50px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5rem;
  white-space: pre-line;
}

.content {
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  flex: 1 1 0;

}

.selection-box {
  display: flex;
  position: relative;
  z-index: 1;
  width: 100%;
}

.curr-selection {
  display: flex;
  -webkit-box-pack: start;
  justify-content: start;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 15px;
  height: 70px;
  box-sizing: border-box;
  -webkit-box-align: center;
  align-items: center;
  flex: 1 1 0%;
  margin: 0px 0px 10px;
  border-radius: 4px;
  transition: all 0.3s ease 0s;
  padding: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(234, 237, 243);
  border-image: initial;
}

.curr-selection:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 15px;
  cursor: pointer;
}

.updated-time-container{
  color: rgb(92, 100, 109);
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
}

.exchange-rate{
  color: rgb(28, 28, 28);
  font-weight: 500;
}

.curr-flag {
  position: relative;
  height: 28px;
  width: 40px;
  background-color: rgb(234, 237, 243);
  display: block;
  z-index: 1;
  flex: 0 0 40px;
}

.curr-flag img {
  border-radius: 2px;
}

.curr-flag-image {
  width: 100%;
}

.selector-container {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 15px;
  overflow: hidden;
  border-radius: 4px;
  transition: all 0.3s ease 0s;
}

.selector-container .curr-search {
  flex-direction: row;
  padding: 68px 20px 10px;
}

.selector-container .curr-search svg {
  position: absolute;
  top: 77px;
  left: 27px;
  right: auto;

  display: block;
  width: 22px;
  height: 22px;
  z-index: 1;
  flex: 0 0 22px;
}

.curr-search .curr-search-input {
  background-color: rgb(249, 250, 251);
  width: 100%;
  display: block;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  font-size: 14px;
  height: 40px;
  -webkit-appearance: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(234, 237, 243);
  border-image: initial;
  border-radius: 4px;
  padding: 0px 10px 0px 32px;
  transition: all 0.3s ease 0s;
}

.curr-search .curr-search-input:focus {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 171, 169);
  border-image: initial;
  outline: none;
}

.curr-list {
  overflow-y: scroll;
  max-height: 300px;
  height: auto;
}

.curr-list .curr-list-item {
  display: flex;
  width: 100%;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  font-family: Inter, sans-serif;
  -webkit-appearance: none;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  padding: 10px 20px;
  margin: 0px;
}

.curr-list .curr-list-item:hover {
  background-color: rgb(249, 250, 251);
}

.curr-list .curr-list-item:focus {
  outline: none;
}

.curr-list-item .item-name{
  font-size: 14px;
  font-weight: 500;
  -webkit-box-flex: 1;
  flex-grow: 1;
  z-index: 1;
  text-align: left;
  padding: 0px 10px;
}

.curr-list-item .item-flag{
  height: 28px;
  width: 40px;
  background-color: rgb(234, 237, 243);
  display: block;
  z-index: 1;
  flex: 0 0 40px;
  position: relative;
}

.curr-list-item .item-flag-img{
  border-radius: 2px;
  width: 100%;
}

.curr-name {
  font-size: 14px;
  font-weight: 500;
  -webkit-box-flex: 1;
  flex-grow: 1;
  z-index: 1;
  text-align: left;
  padding: 0px 10px;
}

.curr-input {
  display: flex;
  -webkit-box-pack: end;
  justify-content: end;
  font-size: 36px;
  text-align: right;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 15px;
  -webkit-box-align: center;
  align-items: center;
  caret-color: rgb(0, 171, 169);
  width: 100%;
  box-sizing: border-box;
  -webkit-appearance: none;
  font-family: Inter, sans-serif;
  margin: 0px;
  border-radius: 4px;
  transition: all 0.3s ease 0s;
  padding: 20px 20px 20px 56px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(234, 237, 243);
  border-image: initial;
}

.curr-input:focus {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 171, 169);
  border-image: initial;
  outline: none;
}

.curr-input:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 15px;
}

.curr-display {
  position: absolute;
  bottom: 46px;
  height: 24px;
  left: 20px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  color: rgb(92, 100, 109);

}


.right {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  flex: 1 1 0%;
}

.switch {
  height: 40px;
  width: 40px;
  position: relative;
  z-index: 1;
  color: rgb(255, 255, 255);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: transparent;
  margin: 14px 30px 0px;
  border-width: initial;
  border-style: none;
  border-image: initial;
  transition: all 0.3s ease 0s;
  flex: 0 0 40px;

}

.switch svg {
  display: block;
  width: 22px;
  transition: all 0.3s ease 0s;
}

.curr-selection svg {
  display: block;
  width: 22px;
}

.switch:focus {
  outline: none;
}

.switch:hover {
  cursor: pointer;
}

.switch::before {
  display: block;
  position: absolute;
  content: "";
  background-color: rgb(132, 213, 212);
  top: -10px;
  left: -10px;
  height: calc(100% + 20px);
  width: calc(100% + 20px);
  z-index: -1;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 15px;
  border-radius: 100%;
  transition: all 0.3s ease 0s;
}

.switch::after {
  display: block;
  position: absolute;
  content: "";
  background-color: rgb(0, 171, 169);
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  border-radius: 100%;
}

.switch:hover::before {
  top: -15px;
  left: -15px;
  height: calc(100% + 30px);
  width: calc(100% + 30px);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 15px;
}

.switch:hover svg {
  transform: rotate(180deg);
}
